footer {
  background-color: #FFF;
  height: 60px;
  width: 100%;
  border-top: 1px #CCCCCC solid;
  position: fixed;
  margin-top: 150px;
  bottom: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

footer p {
  text-align: center;
  padding: 5px;
}
